section.booking-contact
  .contact-div
    .col-5.flex.flex--center
      h2 CONTACT
    
    .cta  
      p Please contact us using the contact form below.  
      p Alternatively you can contact us directly at #[a(href="mailto:kitan.OBD@gmail.com") KitanOBD@gmail.com].
    
    include icons.jade
    
    .flex.flex--center
      #form-main
        #form-div
            form#form1.form(autocomplete='on', action='http://formspree.io/kitan.ogunfeibo@gmail.com', method='POST')
              
              p 
                span.required Name * 
                  
              p.first-name
                input#title.feedback-input(name='fname', x-autocompletetype='given-name', type='text', class='validate[required,custom[onlyLetter],length[0,100]]', spellcheck='false', placeholder='First Name')
              
              p.last-name 
                input#title.feedback-input(name='lname', x-autocompletetype='sur-name', type='text', class='validate[required,custom[onlyLetter],length[0,100]]', spellcheck='false', placeholder='Last Name')
                
              p.email
                span.required Email * 
                input#email.feedback-input(name='email', x-autocompletetype='email', type='text', class='validate[required,custom[email]]', spellcheck='false', placeholder='Email')
                
              p.subject
                span.required Subject *
                input#title.feedback-input(name='subject', type='text', class='validate[required,custom[onlyLetter],length[0,100]]', placeholder='Subject')
   
              p.text
                span.required Message*
                textarea#message.feedback-input(name='text', class='validate[required,length[6,300]]', placeholder='Message')



              .submit
                input#button-blue(type='submit', value='SEND')
    
                .ease
