//header

mixin nav-content()
  ul
    lis: a(href="/") HOME
    //lis: a(href="/about") ABOUT
    lis: a(href="/music") MUSIC
    lis: a(href="/beats") BUY BEATS
    lis: a(href="/design") WEB DESIGN
    lis: a(href="/contact") BOOKINGS & CONTACT



header.header
  .header-position#home
    .logo
      a(href="/" style="background-image: url(/assets/img/logo2.svg)")
      
    nav.site-nav
      +nav-content()
    
    .mobile-nav-toggle: span

.mobile-nav
  +nav-content()
