.icon-position.flex.flex--center
  nav.icon-nav
    ul
      li.hvr-bob: a#a1(href="https://www.facebook.com/esxko/", target="_blank") facebook
      li.hvr-bob: a#a2(href="https://twitter.com/esxko_crx", target="_blank") twitter
      li.hvr-bob: a#a3(href="https://soundcloud.com/esxko", target="_blank") soundcloud
      li.hvr-bob: a#a4(href="https://www.instagram.com/esxko/", target="_blank") instagram
      li.hvr-bob: a#a5(href="https://www.youtube.com/channel/UCQab4p_MKNaycxeL-M5YW1g", target="_blank") youtube
      //li: a(href="", target="_blank", style="background-image: url(/assets/img/ig_bg.png)") mixcloud
    
