//post body
section.posts

  .img-1
  
  .flex.flex--center
  
    .col-3
    
      .flex-video <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fteaselecta%2Fvideos%2F471020633068589%2F&show_text=0&width=560" width="560" height="300px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      
      .flex-video <iframe src="https://player.vimeo.com/video/154431819" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      .flex-video <iframe src="https://player.vimeo.com/video/154236561" width="700" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      
  //.img
        
