.social-position.flex.flex--center
  nav.social-nav
    ul
      li.hvr-bob: a(href="https://www.facebook.com/KitanOBD/" style="background-image: url(/assets/img/fb_bg.svg)", target="_blank") facebook
      li.hvr-bob: a(href="https://twitter.com/KitanOBD", target="_blank", style="background-image: url(/assets/img/tw_bg.png)") twitter
      li.hvr-bob: a(href="https://soundcloud.com/kitanobd", target="_blank", style="background-image: url(/assets/img/sc_bg.png)") soundcloud
      li.hvr-bob: a(href="https://www.instagram.com/kitanobd/", target="_blank", style="background-image: url(/assets/img/ig_bg.png)") instagram
      li.hvr-bob: a(href="https://www.youtube.com/channel/UCQab4p_MKNaycxeL-M5YW1g", target="_blank", style="background-image: url(/assets/img/yt_bg.png)") youtube
      //li: a(href="", target="_blank", style="background-image: url(/assets/img/ig_bg.png)") mixcloud
    
