---
layout: default
title: Kitan | ESK
---

<div class="home-wrap">
  <link rel="icon"  type="image/png"    href="/assets/img/favicon-32x32.png">

  {% include header.html %}

  <div class="home-sections">

    {% include home-home.html %}
    {% include posts.html %}
   <!-- all the sections here -->
  </div>

  {% include footer.html %}

</div>


<script src="assets/js/jquery-3.1.0.min.js"></script>
<script src="assets/js/functions.js"></script>


 <!--  <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
