//social media icons position

.home-sections

  .social-positon
    top: 0
    left: 0
    bottom: 0
    right: 0

  .social-nav
    margin-top: 10px
    margin-bottom: 35px
    padding-top: 5px


    ul
      display: flex
      flex-direction: row
      justify-content: center
      list-style: none
      margin: 0
      padding: 0
      text-align: center


    li
      margin-right: 72px
      padding: 10px

      &:last-child
        margin-right: 0

      &:hover
        //transform: scale(1.1)
        filter: invert(0.3)

    a

      +hide-text
      display: flex
      background:
        repeat: no-repeat
        position: center
        size: contain
      height: 17px
      width: 17px

@media (max-width: 640px)

  .home-sections

    .social-nav
      margin: 20px 0

      li
        margin-right: 30px
