@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic);

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

header,
nav,
section {
  /* 1 */
  display: block;
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

a {
  color: #BD5248;
  text-decoration: none;
  outline: 0;
}



html,
body {
  min-height: 100vh;
}

body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Lato' sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flex-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 67.5%;
  position: relative;
}

.flex-video iframe {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.home-sections .social-nav {
  margin-top: 10px;
  margin-bottom: 45px;
  padding-top: 5px;
}

.home-sections .social-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.home-sections .social-nav li {
  margin-right: 72px;
  padding: 10px;
}

.home-sections .social-nav li:last-child {
  margin-right: 0;
}

.home-sections .social-nav a {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 17px;
  width: 17px;
}

@media (max-width: 640px) {
  .home-sections .social-nav {
    margin: 20px 0;
  }

  .home-sections .social-nav li {
    margin-right: 30px;
  }
}

.home-wrap header {
  height: 50px;
  padding: 5px 0 0 0;
  background: white;
}

.home-wrap header .header-position {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-wrap header .logo a {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 65px;
  width: 40px;
  position: fixed;
  top: 10px;
  left: 10px;
}

.home-wrap header .site-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.home-wrap header .site-nav lis {
  margin-right: 70px;
}

.home-wrap header .site-nav lis:last-child {
  margin-right: 0;
}

.home-wrap header .site-nav lis a {
  color: #3f3f42;
  margin: 0;
  padding: 5px;
  font-size: 13.5px;
  font-family: 'Lato';
  font-weight: 400;
  letter-spacing: 2.5px;
}

.home-wrap header .mobile-nav-toggle {
  display: none;
  width: 25px;
  height: 50px;
  margin: 0 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.home-wrap header .mobile-nav-toggle span,
.home-wrap header .mobile-nav-toggle span:before,
.home-wrap header .mobile-nav-toggle span:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #333;
  position: relative;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.home-wrap header .mobile-nav-toggle span:before {
  top: 10px;
}

.home-wrap header .mobile-nav-toggle span:after {
  top: -12px;
}

.home-wrap .mobile-nav {
  display: none;
  position: fixed;
  width: 100%;
  background: white;
  padding-bottom: 20px;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 1;
}

.home-wrap .mobile-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1080px) {
  .home-wrap .mobile-nav ul {
    padding: 3% 0;
  }
}

@media (max-width: 540px) {
  .home-wrap .mobile-nav ul {
    padding: 5% 0;
  }
}

.home-wrap .mobile-nav lis {
  text-align: center;
  margin-bottom: 15px;
}

.home-wrap .mobile-nav lis:last-child {
  margin-bottom: 10px;
}

.home-wrap .mobile-nav a {
  color: #3f3f42;
  margin: 0;
  padding: 5px;
  font-size: 14px;
  font-family: 'Lato';
  font-weight: 400;
  letter-spacing: 3px;
}

@media (max-width: 1080px) {
  .home-wrap header {
    width: auto;
    padding: 0;
  }

  .home-wrap header .header-position {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    z-index: 1;
  }

  .home-wrap header .header-position .logo {
    display: none;
  }

  .home-wrap header .site-nav {
    display: none;
  }

  .home-wrap header .mobile-nav-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

section.home-home {
  background: white;
}

section.home-home .logo {
  height: 300px;
  width: 255px;
  margin-top: 45px;
  margin-bottom: 15px;
  padding: 5px 0;
  background-image: url(../img/logowhite_bg.jpg);
  background-size: cover;
  background-position: center top;
}

@media (max-width: 1080px) {
  section.home-home .logo {
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: -30px;
    width: 230px;
  }
}

section.posts {
  background: white;
}

section.posts .col-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section.posts .flex-video {
  margin-bottom: 45px;
}

.home-wrap {
  display: block;
}

@media (max-width: 775px) {
  .home-wrap {
    display: block;
  }
}

.home-sections {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.home-sections section {
  padding-bottom: 45px;
}

.home-sections .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: rows;
  -ms-flex-direction: rows;
  flex-direction: rows;
}

.home-sections .flex--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col-3 {
  width: 800px;
  margin: 0 10px;
}

@media (max-width: 640px) {
  .home-sections .flex {
    display: block;
  }

  .col-3 {
    margin: 0 10px;
    width: 95%;
  }
}
